<div id="data-page-wrapper">

<div class="row">
  <div class="large-12 columns text-left pagination-container">
      <%= will_paginate @users, renderer: FoundationPagination::Sinatra %>
  </div>
</div>

  <table>
    <thead>
      <tr>
        <th>Name:</th>
        <th>Location:</th>
        <th>Tweet:</th>
        <th>Search Query:</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
    <tr>
        <td><%= user.name %></td>
        <td><%= user.location %></td>
        <td><%= Tweet.find_by_user_id(user.id) %></td>
        <td><%= user.search %></td>
    </tr>
    <% end %>
    </tbody>
  </table>

  <div class="row">
    <div class="large-12 columns text-left">
      <%= will_paginate @users, renderer: FoundationPagination::Sinatra %>
    </div>
  </div>

</div>
