<div id="tweets-wrapper container">

    <div class="row">
      <div class="large-12 columns text-center">
        <h1>Tweet Breakdown</h1>
      </div>
    </div>

    <div class="row text-center">
      <form id="total" action="/totals/choice" method="post">
        <div class="large-12 text-center columns">
          <select id="choice" name="choice">
            <option value='election'>Election</option>
            <option value='president'>President</option>
          </select>
        </div>
        <button type='submit'>Submit</button>
      </form>
    </div>

  <div class="row">
    <div id="myChartLegend" class="large-12 columns text-center legend-container">
      <div class="div-legend" style="background-color:#007095"></div>Clinton
      <div class="div-legend" style="background-color:green"></div>Sanders
      <div class="div-legend" style="background-color:orange"></div>Webb
      <div class="div-legend" style="background-color:purple"></div>Chafee
      <div class="div-legend" style="background-color:red"></div>Trump
      <div class="div-legend" style="background-color:lightyellow"></div>Carson
      <div class="div-legend" style="background-color:pink"></div>Bush
      <div class="div-legend" style="background-color:brown"></div>Rubio
      <div class="div-legend" style="background-color:black"></div>Walker
      <div class="div-legend" style="background-color:yellow"></div>Cruz
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns text-center">
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
  </div>
</div>

<script>
  $(window).ready(function() {
    var total = <%= @total %>;

    $('#show-filter').on('click', function() {
      $('#filter-form').toggleClass('hidden');
    });

    buildChart();

    function buildChart() {
      var data = [
        {
          value: <%= @clinton %>,
          color:"#008CBA",
          highlight: "#007095",
          label: " Clinton mentions"
        },
        {
          value: <%= @sanders %>,
          color:"green",
          highlight: "green",
          label: " Sanders mentions"
        },
        {
          value: <%= @chafee %>,
          color:"purple",
          highlight: "purple",
          label: " Chafee mentions"
        },
        {
          value: <%= @webb %>,
          color:"orange",
          highlight: "orange",
          label: "Webb mentions"
        },
        {
          value: <%= @trump %>,
          color:"red",
          highlight: "red",
          label: " Trump mentions"
        },
        {
          value: <%= @carson %>,
          color: "lightyellow",
          highlight: "lightyellow",
          label: "Carson mentions"
        },
        {
          value: <%= @bush %>,
          color: "pink",
          highlight: "pink",
          label: "Bush mentions"
        },
        {
          value: <%= @rubio %>,
          color: "brown",
          highlight: "brown",
          label: "Rubio mentions"
        },
        {
          value: <%= @walker %>,
          color: "black",
          highlight: "black",
          label: "Walker mentions"

        },
        {
          value: <%= @cruz %>,
          color: "yellow",
          highlight: "yellow",
          label: "Cruz mentions"
        }
      ]
      var ctx = document.getElementById("myChart").getContext("2d");
      var myDoughnutChart = new Chart(ctx).Doughnut(data);
    }
  });
</script>
